@import url('https://fonts.googleapis.com/css?family=Nunito');

.nav-wrapper {
  font-family: 'Nunito', sans-serif;
  background-color: #356283;
}

#logo {
  vertical-align: middle;
  height: 50px;
  padding-left: 20px;
}

* {
  font-family: 'Nunito', sans-serif;
}

/*
.App {
  font-family: 'Nunito', sans-serif;
  background-image: url('/daniel-roizer-46779.jpg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  min-height: 100%;
}*/

footer.page-footer {
  background-color: #356283;
}

#mainbg {
  background: url('/daniel-roizer-46779.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.whitebg {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:15px;
  padding-top:10px;
  padding-bottom:15px;
  margin-bottom:15px;
}

.homepage {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
}

#commute-match-tile-profile {
  display: table-cell;
 vertical-align: bottom;
}

.commute-tile {
  margin-top: 10px;
  margin-bottom:10px;
  max-height: 200px
}

#commute-dash {
  display:block; /* change this from inline-block */
  margin:0 auto; /* this will center  it */
}

.profile-pic {
  border-radius: 50%;
  height: 100px;

}
